@import "tailwindcss";

@theme inline {
  --color-kate-cream: #fdfbf7;
  --color-kate-caramel: #ec7f13;
  --color-kate-light-beige: #f5f0e6;
  --color-kate-brown: #6b4f3b;

  --color-background: var(--color-kate-cream);
  --color-foreground: var(--color-kate-brown);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.date-input {
  color-scheme: light;
}
